.js-mov-title{
    text-transform: capitalize;
}

.rating-icon::before{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px; 
    background-image: url("../images/star.svg");
    background-position: center;
    background-size: cover;
    content: "";
}

.year-icon::before{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px; 
    background-image: url("../images/calendar.svg");
    background-position: center;
    background-size: cover;
    content: "";
}

.time-icon::before{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px; 
    background-image: url("../images/clock.svg");
    background-position: center;
    background-size: cover;
    content: "";
}

.favorites-btn{
    position: fixed;
    top: 50px;
    right: calc(50% - 740px);
    width: 60px;
    height: 60px;
    background-image: url("../images/bookmark.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
}   